# Virtual environment
venv/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.exe
